:root{
	--color-principal: #4f518c;	
    --color-secundario: #a596e9;
    --tamano-letra-grande: 32px;
    --tamano-letra-mediano: 24px;
    --tamano-letra-pequeno: 16px;
    --estilo-letra-principal: 'Arial' , 'sans-serif': 
}