body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.filtros-toggle {
    background-color: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 10px;
}
.filtros {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}
.filtros.mostrar {
    display: grid;
}
.filtro {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}
input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: hidden;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.btn-eliminar {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.btn-eliminar:hover {
    background-color: #ff1a1a;
}
.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.paginacion button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.paginacion button:hover {
    background-color: #0056b3;
}
.paginacion button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#submit-filtros{
    width: 50px;
    height: 50px;
    background-color: white;
    justify-self: center;
    align-self: flex-end;
    border-radius: 30px;
}

#submit-filtros:hover{
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 2px;
}
.buttonWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#botonManifiesto{
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 3px;
}
.delete-btn {
    color: #f44336;
}

.action-btn:hover {
    opacity: 0.8;
}