body {
    font-family: Arial, sans-serif;
    background-color:#806fcc;
    margin: 0;
    padding: 0px 0px 20px 0px;
}

.formu {
    margin-left: 0px;
    margin-top: 0px;
}
.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto 20px auto;
    max-width: 1300px;
    width: 90%;
    margin-top: 80px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #4f518c;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-tipo-suc{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.form-group-tipo-suc label{
    margin: 0;
}
.form-group-tipo-suc input{
    margin: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #b3b3b399
}

button {
    background-color: #4f518c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px
}

button:hover {
    background-color: #4f518c;
}

.search-box {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4f518c;
    color: white;
}

.action-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 2px;
}

.delete-btn {
    color: #f44336;
}

.action-btn:hover {
    opacity: 0.8;
}

.edit-btn {
    color: #f44336;
}


.checkbox-group {
    display: flex;
    gap: 10px; /* Espacio entre cada checkbox */
    align-items: center;
}
.noti-succ{
    padding: 25px 10px 25px 10px;
    background-color: rgb(153, 253, 153);
    color: #000000;
    margin-bottom: 0;
}
.noti-err{
    padding: 25px 10px 25px 10px;
    background-color: rgb(255, 117, 117);
    color: #000000;
    margin-bottom: 0;
}

.locality-input-container {
    position: relative;
    max-width: 60%;
    }

    #address-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    }

    #address-input:focus {
    border-color: #4f518c;
    outline: none;
    box-shadow: 0 0 0 2px rgba(79, 81, 140, 0.2);
    }

    #suggestions-list {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

    #suggestions-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    }

    #suggestions-list li:hover {
    background-color: #f0f0f0;
    }

    #suggestions-list li:not(:last-child) {
    border-bottom: 1px solid #eee;
    }