	/* Estilos generales */
	* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }
    
    /* Navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: var(--color-principal);
        color: #fff;
    }
    
    .logo {
        width: 100px;
        height: 100%;
        background-color: white;
        border-radius: 100px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
    
    .logo img {
        height: 100%;
        width: 100px;
    }
    .nav-links {
        display: flex;
        list-style: none;
    }
    
    .nav-links li {
        margin-left: 1rem;
    }
    
    .nav-links a {
        color: #fff;
        text-decoration: none;
    }
    
    .burger {
        display: none;
        cursor: pointer;
    }
    
    .burger div {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        transition: all 0.3s ease;
    }
    
    /* Hero Section */
    #hero {
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    #hero img{
        filter: brightness(0.5);
    }
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .slide-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }
    
    .slide-content h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    /* Formularios */
    #formularios {
        padding: 4rem 2rem;
        background-color: var(--color-principal);
    }
    
    .form-container {
        max-width: 600px;
        margin: 0 auto;
    }
    
    .form-tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    
    .tab-button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #ddd;
        cursor: pointer;
    }
    
    .tab-button.active {
        background-color: #333;
        color: #fff;
    }
    
    .form {
        display: none;
    }
    
    .form.active {
        display: block;
    }
    
    .form input,
    .form button {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 1px solid white;
        border-radius: 5px;
    }
    
    
    /* Servicios */
    #servicios {
        padding: 4rem 2rem;
        text-align: center;
    }
    
    .services-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2rem;
    }
    
    .service-card {
        width: 300px;
        padding: 2rem;
        margin: 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }
    
    .service-card:hover {
        transform: translateY(-10px);
    }
    
    .service-card i {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    
    /* Footer */
    footer {
        background-color: var(--color-principal);
        color: #fff;
        padding: 2rem;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .footer-section {
        flex: 1;
        margin-right: 2rem;
    }
    
    .footer-section h3 {
        margin-bottom: 1rem;
    }
    
    .footer-section ul {
        list-style: none;
    }
    
    .footer-section a {
        color: #fff;
        text-decoration: none;
    }
    
    .social-icons a {
        margin-right: 1rem;
        font-size: 1.5rem;
    }
    
    .footer-bottom {
        text-align: center;
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid #555;
    }

    .resultadoSeguimiento {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        overflow-x: auto;
    }
    .resultadosSeguimiento table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .resultadoSeguimiento th, .resultadoSeguimiento td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }
    #sucursal{
        border: 1px solid white;
        border-radius: 5px;
    }
    .resultadoSeguimiento th {
        background-color: #4f518c;
        color: white;
    }
    
    /* Responsive Design */
    @media screen and (max-width: 768px) {
        .nav-links {
            display: none;
        }
    
        .burger {
            display: block;
        }
    
        .nav-active {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: 0;
            top: 70px;
            background-color: #333;
            width: 100%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
    
        .nav-active li {
            margin: 1rem 0;
        }
    
        .nav-active.show {
            transform: translateX(0%);
        }
    }

    #resultadoCotizacion {
        background-color: #292e47;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        margin-top: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-size: 24px;
        font-weight: bold;
        border: 3px solid #fff;  
        display: none; 
    }
    
    #resultadoCotizacion:not(:empty) {
        display: block; 
    }
    
    #loadingGif {
        align-items: center;
        padding-left: 200px;
    }